
.dedcription-btn {
  width: 200px;
  position: relative;
  display: flex;
  border-radius: 30px;
  background-color: #fcfcfc;
  color: #F27F1E;
  text-align: center;
  font-size: 13px;
  font-weight: 900;
  padding: 9px 0;
  transition: all 0.3s;
  padding-right: 40px;
  margin: 20px 5px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
  color: black;
  background-color: #ffa000;
  width: 50px;
  height: 46px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0px;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
}
.name-descripeion {
  position: relative;
}
.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #fcfcfc;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}

.dedcription-btn:hover {
  color: transparent ;
}